---
title: notion2anki💫
layout: layouts/home.njk
description: The official notion2anki blog. A place where you can learn how to use Notion and Anki better!
image: http://2anki.net/notion2anki.png
date: Last Modified
---

<h1 id="welcome-">Welcome 👋🏾</h1>

<p>This is the notion2anki blog!</p>

<p>Here you can expect to learn more about Anki, Notion and notion2anki.
We will be sharing tips &amp; tricks, tutorials, interviews, updates and
more.</p>

<p>Subscribe to our newsletter to get notified when we publish new posts
<a href="https://www.subscribepage.com/notion2anki">https://www.subscribepage.com/notion2anki</a></p>


<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>